.class.a {
  width: 186px;
height: 70xp;
top: 39px;
left: 204px;

}
ul{
  width: 293px;
height: 24px;
top: 63px;
left: 574px;

}
h3{
  width: 141px;
height: 41.69px; 
top: 54px;
left: 1095px;
border: 35px, 0px, 35px, 0px;

}
.class.b{
  width: 107px;
  height: 20px;
  top: 65px;
  left: 1285px;
  border-radius: 10px;
  border: 1px;
  

}
.class.a {
   background-image: image-set(src/images/Group 48 1.png);
  width: 1440px;
height: 740px;
top: 150px;

}
header {
  width: 293px;
height: 24px;
top: 63px;
left: 574px;

}

div .class.V {
  width: 376px;
height: 381px;
top: 330px;
left: 204px;

}
hr {
  width: 1440px;
height: 150px;
border: 0px, 0px, 3px, 0px;

}
h2 {
  width: 1100px;
height: 44px;
top: 965px;
left: 170px;
font-family: Inter;
font-size: 36px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
text-align: justified;
h5 {
  width: 142px;
  height: 29px;
  top: 1073px;
  left: 649px;
  font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: center;

}
img .class.I {
  width: 400px;
height: 120px;
top: 1230px;
left: 520px;

}
img .class.D {
  width: 1440px;
height: 741px;
top: 1240px;

}
h2 {
  width: 504px;
  height: 44px;
  top: 2104px;
  left: 469px;
  
}
h2 {
  width: 857px;
height: 44px;
top: 2056px;
left: 292px;
font-family: Inter;
font-size: 36px;
font-weight: 400;
line-height: 44px;
letter-spacing : 0em;
text-align: justified;

}
h5 .class.H {
  width: 142px;
height: 29px;
top: 2164px;
left: 650px;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height:.29px;
letter-spacing: 0em;
text-align: justified;

}
img .class.D {
  width: 400px;
height: 120px;
top: 2321px;
left: 521px;

}
img .class.P {
background-attachment: fixed;
width: 1440px;
height: 704px;
top: 2331px;

}
h3 {
  width: 499px;
  height: 40px;
  top: 2389px;
  left: 471px;
  

}
h4 {
  width: 67px;
height: 24px;
top: 2510px;
left: 330px;
font-family: HeadlandOne;
font-size: 24px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}
img .class.SPIKE
{
  width: 152px;
height: 40px;
top: 2574px;
left: 288px;

}
img .class.SPIKE3 {
  width: 152px;
height: 40px;
top: 2838px;
left: 287px;

}
img .class.SPIKE2 {
  width: 152px;
  height: 40px;
  top: 2574px;
  left: 1151px;
  rotate: -180 deg;
  

}
img .class.SPIKE4 {
  width: 152px;
height: 40px;
top: 2838px;
left: 1151px;
rotate: -180 deg;

}
img .class.OMG {
  width: 152px;
height: 40px;
top: 2614px;
left: 644px;

}
img .class.OMG2 {
  width: 152px;
height: 40px;
top: 2878px;
left: 644px;

}
h4 {
  width: 75px;
height: 24px;
top: 2654px;
left: 326px;
font-family: HeadlandOne;
font-size: 24px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: justified; 
}
h4 {
  width: 186px;
height: 24px;
top: 2510px;
left: 627px;

}
h4 {
  width: 263px;
height: 24px;
top: 2654px;
left: 588px;

}
h4 {
  width: 107px;
height: 24px;
top: 2519px;
left: 1023px;

}
h4 {
  width: 107px;
height: 24px;
top: 2654px;
left: 1021px;

}
h4 {
  width: 133px;
height: 24px;
top: 2774px;
left: 297px;

}
h4 {
  width: 96px;
height: 24px;
top: 2918px;
left: 316px;

}
h4 {
  width: 120px;
height: 24px;
top: 2783px;
left: 660px;

}
h4 {
  width: 210px;
height: 24px;
top: 2918px;
left: 615px;

}
h4 {
  width: 142px;
height: 24px;
top: 2780px;
left: 1004px;

}
h4 {
  width: 123px;
height: 24px;
top: 2918px;
left: 1013px;

}
h2 .class.MOTHER {
  width: 802px;
height: 92px;
top: 3110px;
left: 319px;

}
img .class.OMG {
  width: 400px;
height: 120px;
top: 3375px;
left: 520px;

}
hr {
  width: 1440px;
height: 223px;
top: 3385px;
border: 0px, 0px, 3px, 0px;

}
:before {
  width: 153px;
top: 3420px;
left: 467px;
border: 2px;
rotate: -90 deg;
border: 2px solid #FFFFFF;
}
img .class.img1
{
  width: 183px;
height: 70px;
top: 3462px;
left: 204px;

}
h5 {
  width: 665px;
height: 24px;
top: 3465px;
left:547px;

}
h5 {
  width: 689px;
height: 24px;
top: 3505px;
left: 547px;
 
}
h6 {
  width: 348px;
height: 17px;
top: 3566px;
left: 678px;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: justified;
}